h1 {
  margin: 1em;
  font-size: 2em;
  text-align: center;
}

main {
  /* display: flex;
  justify-content: center; */
}

.board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 800px;
}

.box {
  margin: 0.25em;
  border: 3px solid black;
  width: 200px;
  height: 200px;
}


#game-info {
  display: block; 
}

.active-button {
  
}